<h3>Commentry</h3>

<div class="col-sm-3 col-md-12 border">
  <table class="table">
    <thead class="thead-primary">
      <tr>
        <th scope="col">Over</th>
        <th scope="col">Runs On Ball</th>
        <th scope="col">Commentry</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let commentry of matchService.getMatch().getsaveSummaryDetails()">
        <td scope="row"> {{commentry.getnumberOfOvers()}}.{{ commentry.getBalls() }} </td>
        <td>{{commentry.getPossibleRuns()}}</td>
        <td>{{commentry. getCommentary()}}</td>
      </tr>
    </tbody>
  </table>
</div>