<div class="container col-sm-3 border border -dark my-2 border border-primary">

   <h2 style="text-align: center">Summary</h2>
   <div *ngIf="FirstBallOf2ndInningNotification">Second Inning</div>
   <div class="form-group">
      <label for="formGroupExampleInput">Select Batsman On Strike</label>
      <select class="form-control" name="batsman" [(ngModel)]="batsmanOnStrike">
         <option *ngFor="let batsman of battingTeam">
            {{batsman.name}}
         </option>
      </select>
   </div>
   <div class="form-group">
      <label for="formGroupExampleInput">Select Non-Strike Batsman</label>
      <select class="form-control" name="batsman" [(ngModel)]="nonStrikeBatsman">
         <option *ngFor="let batsman of battingTeam">
            {{batsman.name}}
         </option>
      </select>
   </div>
   <div class="form-group">
      <label for="formGroupExampleInput">Select New Baller</label>
      <select class="form-control" name="baller" [(ngModel)]="newBaller">
         <option *ngFor="let baller of bowlingTeam">
            {{baller.name}}
         </option>
      </select>
   </div>
   <div class="form-group">
      <label for="formGroupExampleInput">Possibility of runs</label>
      <select class="hideLabel form-control" (change)="onSelectOfPossibility()" class="form-control" name="runs"
         [(ngModel)]="possibilityOfRuns" #possibleRuns>
         <option>Runs</option>
         <option>0</option>
         <option>1</option>
         <option>2</option>
         <option>3</option>
         <option>4</option>
         <option>6</option>
         <option>Wicket</option>
      </select>
   </div>
   <div *ngIf="showWicket" class="form-group">
      <label for="formGroupExampleInput2">Wicket</label>
      <select class="hideLabel col-sm-6 from-control ml-4" #Wicket [disabled]="btnDisable" (change)="onSelectOfWicket()"
         class="form-control" name="wickets" [(ngModel)]="wickets">
         <option>RunOut</option>
         <option>Stumping</option>
         <option>LBW</option>
         <option>Hit the ball twice</option>
         <option>Bowled</option>
         <option>Hit wicket</option>
         <option>Retired</option>
         <option>Timed out</option>
         <option>Catch</option>
      </select>
   </div>
   <div *ngIf="showCatchBy" class="form-group">
      <label for="formGroupExampleInput2">Catch By</label>
      <select class="hideLabel col-sm-6 from-control ml-4" #Catch [disabled]="btnDisable" (change)="onSelectOfCatch()"
         class="form-control" name="catchBy" [(ngModel)]="catchBy">
         <option>Catch By</option>
         <option *ngFor="let baller of matchService.getMatch().getBallingTeam().getPlayers()">
            {{baller.name}}
         </option>
      </select>
   </div>
   <div class="form-group">
      <label for="formGroupExampleInput2">Balls</label>
      <input type="text" class="form-control" id="balls" placeholder="Balls" name="ball" [value]="balls" [(ngModel)]="balls" />
   </div>
   <div class="form-group">
      <label for="formGroupExampleInput2">Overs</label>
      <input type="text" class="form-control" id="overs" placeholder="Overs" name="over" [(ngModel)]="overs">
   </div>
   <div class="form-group">
      <label for="formGroupExampleInput2">Commentry</label>
      <textarea class="form-control" id="commentary" placeholder="Description" name="description" [(ngModel)]="commentary"></textarea>
   </div>
   <div *ngIf="LastBallOfInningNotification">Last Ball Of Inning</div>
   <button type="button" class="btn btn-success my-2" (click)="onaddScoreButtonClick()">Add Score</button>
</div>